<div class="jumbotron text-center">
    <h1 class='display-3'>Seat back, Relax, and Eat a Burger!</h1>
    <img src="/assets/img/BlackBleuBurger.jpg" alt="blackNbleu" >
</div>
<div class='container'>
    <div class="row">
        <div class="col-sm-6">
         <ul>
             {{#each burgers }}
                  {{#unless   devoured}}
                  <li>
                      {{burger_name}}
                      <button class="devoured-btn" data-id="{{Id}}" data-newDevour="{{newDevour}}">Devour Me</button>
                  </li>
                  {{/unless}}
             {{/each}}
         </ul>

        </div>
        <div class="col-sm-6">
              {{#each burgers }}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
              {{/each}}  
        </div>
    </div>

    <div class="row mb-2">
        <div class="col text-center">
            <h2>Add a New Burger !</h2>
            <form class="create-form form-inline justify-content-center">
                <div class="form-group">
                    <label for="burger">Burger Name:</label>
                    <input class="mx-3" type="text" id="burger" name="name">
                </div>
                <button class="btn btn-primary add-burger" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>