body{
    background-color: #595459;
    background: #595459;
    
}
.jumbotron {
    background:#595459 ;
}
li {
    padding: 5px;
    margin: 5px;
    background:#F2A950;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .devoured-btn {
      background: #888C04;
  }